/* @media (max-width:480px) {
    body {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F0F0F0;
    }

    .container {
        height: 80vh;
        width: 85vw;
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        padding: 10px;
        border-radius: 10px;
        border: 15px faded #F8F6F4;
    }

    .card-head {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .fa-head {
        font-size: x-large;
        opacity: 50%;
    }

    .fa-head:hover {
        opacity: 100%;
    }

    .playing {
        opacity: 70%;
    }

    .card-name {
        line-height: 0vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image {
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        height: 30vh;
        background-image: url("https://media1.popsugar-assets.com/files/thumbor/L-VT9k0GKckWWnpo3n2YBq4f9tE/fit-in/1024x1024/filters:format_auto-!!-:strip_icc-!!-/2017/08/03/846/n/37139775/2d0d134e5983773fe90560.65157921_edit_img_image_17921777_1501786115/i/Camila-Cabello-Havana-Song.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
    }

    h1 {
        color: aliceblue;
        opacity: 60%;
    }

    .song-slider {
        margin-top: 1vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .seek-bar {
        -webkit-appearance: none;
        width: 80%;
        height: 0.5vh;
        background: grey;
        border-radius: 15px;

    }

    .slider-time {
        line-height: 0vh;
        ;
        opacity: 70%;
        width: 80%;
        display: flex;
        justify-content: space-between;
    }

    .icons-row {
        font-size: x-large;
        display: flex;
        justify-content: space-around;
    }

    .fa-solid {
        opacity: 50%;
    }

    .list {
       
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .music {
        opacity: 60%;
        font-size: large;
        width: 80%;
        align-self: center;
        display: flex;
        justify-content: space-between;
    }

    .music:hover {
        opacity: 100%;
        cursor: pointer;
        font-size: large;
    }

    .fa-solid:hover {
        opacity: 100%;
        cursor: pointer;
        font-size: x-large;
    }
} */


    body {
        margin: 0;
        display: flex;
        justify-content: center;
        background-color: #F0F0F0;
        padding-top: 5vh;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 550;
        font-size: larger;
    }

    .container {
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        padding: 20px;
        box-shadow: 15px 10px 8px 1px #E0EFF1;
    }

    .card-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top:1em;

        
    }

    .fa-head {
        opacity: 30%;
    }
    .head-top{
        align-self: flex-start;
    }

    .fa-head:hover {
        opacity: 100%;
    }

    .playing {
        font-size:small;
        opacity: 70%;
    }

    .card-name {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:0.5em;
    }
    .margin0{
        margin:0;
    }
    .playing{
        opacity:40%;
    }
   
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 0;
  height: 0;
} 

    .image {
        align-self: center;
        width: 80%;
        height:200px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("https://cdn.audiolibrary.com.co/themes/ytalc/assets/img/songs/a-magical-journey-through-space-by-leonell-cassio.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    
    }

    h1 {
        color: aliceblue;
        opacity: 60%;
        margin: 0;
    }

    .song-slider {
        padding-top: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .seek-bar {
        -webkit-appearance: none;
        height: 0.4vh;
        width:100%;
        background: grey;
        border-radius: 15px;

    }

    .margin-top{
        margin-top: 0;
    }

    .slider-time {
        opacity: 70%;

        display: flex;
        justify-content: space-between;
    }

    .icons-row {
        padding-top: 1em;
        padding-bottom: 1.5em;
        font-size: x-large;
        display: flex;
        justify-content: space-around;
    }

    .dull{
        opacity:90%;
        font-weight: 500;
        font-size:smaller;
    }

   
    .fa-circle-play{
        opacity:50%;
        align-self:center;
    }
    .fa-circle-play:hover{
        opacity: 70%;
        
    }
    .list {
        display: flex;
        flex-direction: column;
    }

    .music {
        opacity: 60%;
        font-size: large;
        display: flex;
        justify-content: space-between;
    }
    .black{
        opacity:100%;
    }
    .music:hover {
        opacity: 100%;
        cursor: pointer;
        font-size: large;
    }

     .fa-khalil{
        opacity:30%;
    } 
    .fa-khalil:hover{
        opacity:70%;
    } 


/* 
@media (min-width:481px) and (max-width:1000px) {
    body {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F0F0F0;
    }

    .container {
        width: 80vw;
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        padding: 10px;
        border-radius: 10px;
        border: 15px faded #F8F6F4;
    }

    .card-head {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .fa-head {
        font-size: x-large;
        opacity: 50%;
    }

    .fa-head:hover {
        opacity: 100%;
    }

    .playing {
        opacity: 70%;
    }

    .card-name {
        line-height: 0vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .image {
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        height: 30vh;
        background-image: url("https://media1.popsugar-assets.com/files/thumbor/L-VT9k0GKckWWnpo3n2YBq4f9tE/fit-in/1024x1024/filters:format_auto-!!-:strip_icc-!!-/2017/08/03/846/n/37139775/2d0d134e5983773fe90560.65157921_edit_img_image_17921777_1501786115/i/Camila-Cabello-Havana-Song.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
    }

    h1 {
        color: aliceblue;
        opacity: 60%;
    }

    .song-slider {
        margin-top: 1vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .seek-bar {
        -webkit-appearance: none;
        width: 80%;
        height: 0.5vh;
        background: grey;
        border-radius: 15px;

    }

    .slider-time {
        line-height: 0vh;
        ;
        opacity: 70%;
        width: 80%;
        display: flex;
        justify-content: space-between;
    }

    .icons-row {
        font-size: x-large;
        display: flex;
        justify-content: space-around;
    }

    .fa-solid {
        opacity: 50%;
    }

    .list {
      
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .music {
        opacity: 60%;
        font-size: large;
        width: 80%;
        align-self: center;
        display: flex;
        justify-content: space-between;
    }

    .music:hover {
        opacity: 100%;
        cursor: pointer;
        font-size: large;
    }

    .fa-solid:hover {
        opacity: 100%;
        cursor: pointer;
        font-size: x-large;
    }
} */